/* src/App.css */
@font-face {
  font-family: moontime;
  src: url(fonts/moontime-regular.ttf);
}

body {
  background-color: #1e1b1b;
  color: #988787;
  font-family: "Garamond", serif;
  font-size: 15px;
  text-align: center;
  margin: 0;
}

.tarot-container {
  text-align: center;
  padding: 20px;
}

.error {
  color: #d77272;
}

input {
  border: none;
  background: #988787;
  padding: 1em;
  margin-right: 20px;
}

button {
  border: none;
  background: #988787;
  padding: 1em;
  cursor: pointer;

  &:hover {
    background: #705f5f;
  }
}

.title {
  font-size: 5rem;
  margin-bottom: 20px;
  font-family: moontime;
  font-weight: 100;
}

.subtitle {
  font-size: 1.2em;
}

.deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  perspective: 1000px;
  position: relative;
  margin-top: 100px;
}

.card-back:hover {
  transform: translateY(-8px);
}

.card-wrapper {
  width: 200px;
  transform-style: preserve-3d;
  cursor: pointer;
  transition: transform 1s ease;

  &.selected {
    z-index: 10;

    cursor: initial;
    display: flex;
    flex-flow: column;
    align-items: center;

    &.flipped {
      width: 500px;
      position: absolute;
      transform: rotateY(180deg);
    }
  }
}

.fade-out {
  transition: opacity 1s ease, transform 1s ease;
  opacity: 0;
  transform: translateY(200px);
}

.card-face {
  position: absolute;
  backface-visibility: hidden;
  border-radius: 8px;
  width: 300px;
}

.card-front {
  transform: rotateY(180deg);
  width: 100%;

  p {
    white-space: break-spaces;
    font-size: 1.2em;

    &.meaning {
      font-style: italic;
    }
  }

  img {
    width: 300px;
    border-radius: 6px;
  }
}

.card-back {
  width: 200px;
  height: 300px;
  background-image: url("cards/card-back.jpg");
  background-size: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
