/* src/App.css */
@font-face {
  font-family: moontime;
  src: url(fonts/moontime-regular.ttf);
}

body {
  background-color: #1e1b1b;
  color: #988787;
  font-family: "Garamond", serif;
  font-size: 15px;
  text-align: center;
  margin: 0;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-left-color: #a37957;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.8s linear infinite;
  margin-top: 30vh;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.tarot-container {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  min-height: 100vh;
}

.error {
  color: #d77272;
}

input {
  border: none;
  outline: none;
  background: #988787;
  padding: 1em;
  margin-right: 20px;

  &:focus {
    background: #705f5f;
  }
}

button {
  border: none;
  background: #988787;
  padding: 1em;
  cursor: pointer;

  &:hover {
    background: #705f5f;
  }
}

.login-form {
  margin-top: 30vh;
}
.title {
  font-size: 5rem;
  margin-bottom: 20px;
  font-family: moontime;
  font-weight: 100;
}

p {
  font-size: 1.5em;
  white-space: break-spaces;

  &.meaning {
    font-style: italic;
  }

  &.subtitle {
    margin-top: -20px;
  }

  &.left {
    text-align: left;
    width: 100%;
  }
}

.deck {
  display: flex;
  justify-content: center;
  gap: 0;
  margin-top: 100px;
  position: relative;
  perspective: 1200px;

  &.second {
    margin-top: 200px;
  }

  &.mobile {
    display: none;
  }
}

.card-wrapper {
  width: 200px;
  transform-style: preserve-3d;
  cursor: pointer;
  margin-left: -100px;
  position: relative;
  transform: rotateY(0deg);

  &:first-child {
    margin-left: 0;
  }

  &.fade-out {
    opacity: 0;
    margin-top: 200px;
    pointer-events: none;
    transition: opacity 1s ease, margin 1s ease;
  }
}

.card-face {
  position: absolute;
  backface-visibility: hidden;
  border-radius: 8px;
  width: 300px;
}

.card-back {
  width: 200px;
  height: 300px;
  background-image: url("cards/card-back.jpg");
  background-size: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-40px) !important;
    z-index: 10;
  }
}

.selected-card {
  width: 50vw;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
  cursor: default;
  transform: rotateY(0deg);
  top: 250px;
  padding-bottom: 20px;

  &.flipped {
    transform: rotateY(180deg);
  }

  .card-front {
    transform: rotateY(180deg);
    gap: 50px;

    .images {
      width: 300px;
      height: 600px;
      border-radius: 6px;
      transition: transform 0.6s;
      transform-style: preserve-3d;

      &:hover,
      &.flipped {
        transform: rotateY(180deg);
      }

      .front,
      .back {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;

        img {
          width: 100%;
          border-radius: 20px;
        }
      }

      .back {
        background: #1e1b1b;
        transform: rotateY(180deg);
        background-image: url("cards/image.png");
        background-size: contain;
        background-repeat: no-repeat;
        .meaning {
          padding-top: 520px;
        }
      }
    }
  }

  .card-face {
    position: inherit;
    width: 100%;
    border-radius: 8px;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    justify-content: center;
    display: flex;

    span {
      display: flex;
      flex-flow: column;
      margin-right: 2em;
      align-items: center;
    }

    &.card-back {
      background-size: 200px 300px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

@media (max-width: 768px) {
  .login-form {
    padding: 0 10px;
  }
  .hide {
    display: none !important;
  }
  .title {
    font-size: 3.5rem;
    font-family: moontime;
    font-weight: 100;
  }
  p {
    text-align: center;
    font-size: 1.2em;
    &.title {
      margin-top: 10px;
      margin-bottom: 0;
    }
    &.left {
      text-align: center;
    }
    &.meaning {
      font-size: 1.2em;
    }
  }

  .deck {
    justify-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 100vw;
    gap: 10px;

    &.mobile {
      display: flex;
    }

    &.desktop {
      display: none;
    }
  }

  .card-wrapper {
    margin-left: 0;
    transform: none !important;
    width: 120px;
    height: 180px;
  }

  .card-back {
    width: inherit;
    height: inherit;
  }

  .card-face img {
    width: 100%;
    height: auto;
  }

  .selected-card {
    margin-top: 30px;
    width: 100vw;
    position: initial;
    padding-bottom: 0;

    .card-face {
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        margin-right: 0;
      }
    }
  }
}
